---
import Layout from "../layouts/Layout.astro";
---

<Layout title="card">
  <div class="text-gray-500">
    *Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus,
    nulla, voluptates sint, alias ab dolor est incidunt recusandae laboriosam
    nisi voluptatibus dolorum enim omnis pariatur error fugiat eligendi nobis
    odio.
  </div>
</Layout>
