---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Carta from "../components/Carta.astro";

const res = await fetch(
  "https://api.pokemontcg.io/v2/cards?q=name:mew&pageSize=10"
);
let data = await res.json();
data = data.data;
console.log(data);
---

<Layout title="Welcome to Astro." />

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  {data.map((card) => <Carta id={card.id} img={card.images.small} />)}
</div>
