---
import Carta from "../../components/Carta.astro";
import ResumenCarta from "../../components/ResumenCarta.astro";
import Layout_Carta from "../../layouts/Layout_Carta.astro";
// import { cards } from "../../lib/data";
import { cards } from "../../lib/data";

const { id, supertype } = Astro.params;

const paths = cards;

const card = paths.find((p) => p.id === id);

// export function getStaticPaths() {
//   return paths;
// }
---

<Layout_Carta title="card">
  <div class="flex">
    <div class="self-start">
      <Carta id={id} />
    </div>
    <ResumenCarta id={id} />
  </div>
</Layout_Carta>
