---
import Carta from "../../components/Carta.astro";
import ResumenCarta from "../../components/ResumenCarta.astro";
import Layout from "../../layouts/Layout.astro";
// import { cards } from "../../lib/data";
import { cards } from "../../lib/data";

const { id } = Astro.params;
const carta = id;
const paths = cards;

const card = paths.find((p) => p.id === id);

// export function getStaticPaths() {
//   return paths;
// }
---

<Layout title="card">
  <Carta id={id} />
  <div class="text-zinc">Hola</div>

  <ResumenCarta id={id} />
</Layout>
