---
interface Props {
  id: string;
  img: string;
}

const { id, img } = Astro.props;
---

<a
  href={`/carta/${id}`}
  class="transition duration-300 ease-in-out hover:ease-in hover:-translate-y-1 hover:scale-110"
  transition:name=`carta ${id} box`
>
  <img
    class="rounded-md"
    src={img}
    alt=""
    srcset=""
    transition:name=`carta ${id} image`
  />
</a>
