---
// Supports weights 300-700
import "@fontsource-variable/signika-negative";
import "@fontsource/poppins";

const { id } = Astro.props;

const res = await fetch(`https://api.pokemontcg.io/v2/cards/${id}`);
let data = await res.json();
let fetched = data.data;

console.log(fetched);
---

<div class="pl-16 flex flex-col">
  <h3 class="text-white">
    <span>
      {fetched?.name}
    </span>
    {
      fetched.types ? (
        <span>
          {fetched?.types.map((type) => (
            <span>{type + " "}</span>
          ))}
        </span>
      ) : (
        ""
      )
    }
    {fetched.hp ? <span>{"HP " + fetched?.hp}</span> : ""}
  </h3>
  <h4 class="text-white">
    <span>
      {fetched?.supertype}
    </span>
    <span>
      {fetched?.subtypes.map((sub) => <span>{sub + " "}</span>)}
    </span>
    <span>
      {fetched.evolvesFrom ? "Evoluciona de: " + fetched.evolvesFrom : ""}
    </span>
  </h4>
</div>

<style>
  h1 {
    font-family: "Poppins", sans-serif;
  }
</style>
